@tailwind base;

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border;
  }

  *,
  *:hover {
    scrollbar-color: auto;
  }

  *::-webkit-scrollbar {
    @apply h-2 w-2 bg-gray-50;
  }

  *::-webkit-scrollbar-track {
    @apply my-2;
  }

  *::-webkit-scrollbar-thumb {
    @apply rounded-[100vw] bg-brown-400;
  }

  picture {
    @apply block align-middle;
  }

  input,
  select {
    -webkit-appearance: none; /* For Safari/Chrome */
    -moz-appearance: none; /* For Firefox */
    appearance: none;
  }

  picture,
  svg {
    @apply h-auto max-w-full;
  }
}

@tailwind components;
@tailwind utilities;
